@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html{
    margin: 0;
    color: white;
    background-color: '#f6f6f6';
    font-family: 'Roboto';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;

    padding: 0.75rem 2rem;
}

a {
    text-decoration: none;
    color: black;
}

nav h6, nav a {
    margin: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    
}

nav h6 {
    font-size: large;
    font-weight: bold;
    
}

.nav-container {
    display: flex;
    align-items: center;
    
}

/* 
=====
upload
=====
*/

.upload {
    margin-top: 3rem;

}

.preview-container {
    width: 60%;
    height: 60vh;
    background-color: #d8d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview {
    width: 50%;
    height: 80%;
    object-fit: contain;
    text-align: center;
   
}



.btn-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="file"]{
    display: none;
}

.custom-file-upload {
    
    display: inline-block;
    background-color: #d8d5d5;
    border: none;
    padding: 0.5rem 2rem;
    color: var(--clr-font);
    font-size: 1.25rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.custom-file-upload:hover{
    opacity: 0.8;
}

input[type="submit"]{
    background-color: black;
    border: none;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1.25rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}


 /*
 ====
 end
 ====
 */

.parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.uploaded{
    max-height: 50vh;
    max-width: 30vw;
}

.resultparent{
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text{
    color: black;
    font-size: 3rem;
    margin-top: 1rem;
}

.color{
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    margin: 10px;
    /* background-color: white; */
}

.colortile{
    display: flex;
    justify-content: center;
}

.colorpar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameclr{
    color: black;
    font-size: 0.7rem;
    font-weight: 400;
}